USE [master]
GO
/****** Object:  Database [dbReservaRestaurante]    Script Date: 19/11/2024 13:20:00 ******/
CREATE DATABASE [dbReservaRestaurante]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbReservaRestaurante', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbReservaRestaurante.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbReservaRestaurante_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbReservaRestaurante_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbReservaRestaurante].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbReservaRestaurante]
GO
/****** Object:  Table [dbo].[Avaliacoes]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NULL,
	[IdReserva] [int] NULL,
	[Descricao] [text] NULL,
	[Estrelas] [int] NULL,
 CONSTRAINT [PK_Avaliacoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasComida]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasComida](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_CategoriasComida] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[ID] [int] NOT NULL,
	[Nome] [varchar](120) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comidas]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comidas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[DescricaoCurta] [varchar](100) NULL,
	[Descricao] [text] NULL,
	[IdCategoria] [int] NULL,
 CONSTRAINT [PK_Comidas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cep] [nvarchar](50) NULL,
	[IdCidade] [int] NULL,
 CONSTRAINT [PK_Enderecos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientesComida]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientesComida](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdIngrediente] [int] NULL,
	[IdComida] [int] NULL,
	[Quantidade] [float] NULL,
 CONSTRAINT [PK_IngredientesComida] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuRestaurantes]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRestaurantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdComida] [int] NULL,
	[Tamanho] [varchar](max) NULL,
	[IdRestaurante] [int] NULL,
	[Preco] [float] NULL,
 CONSTRAINT [PK_MenuRestaurantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MesasRestaurante]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesasRestaurante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdRestaurante] [int] NULL,
	[CodigoMesa] [varchar](50) NULL,
	[QuantidadeCadeiras] [int] NULL,
	[LivreReserva] [bit] NULL,
 CONSTRAINT [PK_MesasRestaurante] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Senha] [varchar](100) NULL,
	[CPF] [varchar](50) NULL,
	[Nascimento] [datetime] NULL,
	[Telefone] [varchar](50) NULL,
	[DataAtualizacao] [datetime] NULL,
	[Foto] [varbinary](max) NULL,
	[IdEndereco] [int] NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenciasPessoa]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenciasPessoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[IdPessoa] [int] NULL,
	[Gosta] [bit] NULL,
 CONSTRAINT [PK_PreferenciasPessoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[QuantidadePessoas] [int] NULL,
	[IdPessoa] [int] NULL,
	[IdRestaurante] [int] NULL,
	[DataCancelamento] [datetime] NULL,
	[Rubrica] [image] NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 19/11/2024 13:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[Descricao] [text] NULL,
	[IdEndereco] [int] NULL,
	[Nome] [varchar](50) NULL,
	[HoraAbertura] [time](7) NULL,
	[HoraFechamento] [time](7) NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cidades] ADD  DEFAULT (NULL) FOR [Nome]
GO
ALTER TABLE [dbo].[Avaliacoes]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[Avaliacoes] CHECK CONSTRAINT [FK_Scores_Pessoas]
GO
ALTER TABLE [dbo].[Avaliacoes]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Reservas] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reservas] ([ID])
GO
ALTER TABLE [dbo].[Avaliacoes] CHECK CONSTRAINT [FK_Scores_Reservas]
GO
ALTER TABLE [dbo].[Comidas]  WITH CHECK ADD  CONSTRAINT [FK_Comidas_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[Comidas] CHECK CONSTRAINT [FK_Comidas_CategoriasComida]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidades] ([ID])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_Cidade]
GO
ALTER TABLE [dbo].[IngredientesComida]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesComida_Comidas] FOREIGN KEY([IdComida])
REFERENCES [dbo].[Comidas] ([ID])
GO
ALTER TABLE [dbo].[IngredientesComida] CHECK CONSTRAINT [FK_IngredientesComida_Comidas]
GO
ALTER TABLE [dbo].[IngredientesComida]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesComida_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([ID])
GO
ALTER TABLE [dbo].[IngredientesComida] CHECK CONSTRAINT [FK_IngredientesComida_Ingredientes]
GO
ALTER TABLE [dbo].[MenuRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MenuRestaurantes_Comidas] FOREIGN KEY([IdComida])
REFERENCES [dbo].[Comidas] ([ID])
GO
ALTER TABLE [dbo].[MenuRestaurantes] CHECK CONSTRAINT [FK_MenuRestaurantes_Comidas]
GO
ALTER TABLE [dbo].[MenuRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MenuRestaurantes_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[MenuRestaurantes] CHECK CONSTRAINT [FK_MenuRestaurantes_Restaurants]
GO
ALTER TABLE [dbo].[MesasRestaurante]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantTables_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[MesasRestaurante] CHECK CONSTRAINT [FK_RestaurantTables_Restaurants]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([ID])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Enderecos]
GO
ALTER TABLE [dbo].[PreferenciasPessoa]  WITH CHECK ADD  CONSTRAINT [FK_PreferenciasPessoa_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[PreferenciasPessoa] CHECK CONSTRAINT [FK_PreferenciasPessoa_CategoriasComida]
GO
ALTER TABLE [dbo].[PreferenciasPessoa]  WITH CHECK ADD  CONSTRAINT [FK_PreferenciasPessoa_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[PreferenciasPessoa] CHECK CONSTRAINT [FK_PreferenciasPessoa_Pessoas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Pessoas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Restaurants]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurants_CategoriasComida]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([ID])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurants_Enderecos]
GO
USE [master]
GO
