USE [dbReservaRestaurante]
GO
/****** Objeto:  Table [dbo].[Avaliacoes]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdPessoa] [int] NULL,
	[IdReserva] [int] NULL,
	[Descricao] [text] NULL,
	[Estrelas] [int] NULL,
 CONSTRAINT [PK_Avaliacoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CategoriasComida]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasComida](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_CategoriasComida] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Cidades]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](120) NULL,
 CONSTRAINT [PK_Cidades] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Comidas]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comidas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[DescricaoCurta] [varchar](100) NULL,
	[Descricao] [text] NULL,
	[IdCategoria] [int] NULL,
 CONSTRAINT [PK_Comidas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Enderecos]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cep] [nvarchar](50) NULL,
	[IdCidade] [int] NULL,
 CONSTRAINT [PK_Enderecos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Ingredientes]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[IngredientesComida]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientesComida](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdIngrediente] [int] NULL,
	[IdComida] [int] NULL,
	[Quantidade] [float] NULL,
 CONSTRAINT [PK_IngredientesComida] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[MenuRestaurantes]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRestaurantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdComida] [int] NULL,
	[Tamanho] [varchar](max) NULL,
	[IdRestaurante] [int] NULL,
	[Preco] [float] NULL,
 CONSTRAINT [PK_MenuRestaurantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[MesasRestaurante]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MesasRestaurante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdRestaurante] [int] NULL,
	[CodigoMesa] [varchar](50) NULL,
	[QuantidadeCadeiras] [int] NULL,
	[LivreReserva] [bit] NULL,
 CONSTRAINT [PK_MesasRestaurante] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Pessoas]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Senha] [varchar](100) NULL,
	[CPF] [varchar](50) NULL,
	[Nascimento] [datetime] NULL,
	[Telefone] [varchar](50) NULL,
	[DataAtualizacao] [datetime] NULL,
	[Foto] [varbinary](max) NULL,
	[IdEndereco] [int] NULL,
 CONSTRAINT [PK_Pessoas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PreferenciasPessoa]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenciasPessoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[IdPessoa] [int] NULL,
	[Gosta] [bit] NULL,
 CONSTRAINT [PK_PreferenciasPessoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Reservas]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[QuantidadePessoas] [int] NULL,
	[IdPessoa] [int] NULL,
	[IdRestaurante] [int] NULL,
	[DataCancelamento] [datetime] NULL,
	[Rubrica] [image] NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Restaurantes]    Data do Script: 28/09/2026 17:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[Descricao] [text] NULL,
	[IdEndereco] [int] NULL,
	[Nome] [varchar](50) NULL,
	[HoraAbertura] [time](7) NULL,
	[HoraFechamento] [time](7) NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriasComida] ON 

INSERT [dbo].[CategoriasComida] ([ID], [Nome]) VALUES (1, N'Bebidas')
INSERT [dbo].[CategoriasComida] ([ID], [Nome]) VALUES (2, N'Mexicana')
INSERT [dbo].[CategoriasComida] ([ID], [Nome]) VALUES (3, N'Padaria')
SET IDENTITY_INSERT [dbo].[CategoriasComida] OFF
GO
SET IDENTITY_INSERT [dbo].[Cidades] ON 

INSERT [dbo].[Cidades] ([ID], [Nome]) VALUES (0, N'limeira')
INSERT [dbo].[Cidades] ([ID], [Nome]) VALUES (1, N'suzano')
SET IDENTITY_INSERT [dbo].[Cidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Enderecos] ON 

INSERT [dbo].[Enderecos] ([ID], [Cep], [IdCidade]) VALUES (1, N'12345678', 0)
INSERT [dbo].[Enderecos] ([ID], [Cep], [IdCidade]) VALUES (2, N'12345677', 1)
SET IDENTITY_INSERT [dbo].[Enderecos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pessoas] ON 

SET IDENTITY_INSERT [dbo].[Pessoas] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurantes] ON 

INSERT [dbo].[Restaurantes] ([ID], [IdCategoria], [Descricao], [IdEndereco], [Nome], [HoraAbertura], [HoraFechamento]) VALUES (1, 1, N'O melhor café brasileiro', 1, N'Café Brasileiro', NULL, NULL)
INSERT [dbo].[Restaurantes] ([ID], [IdCategoria], [Descricao], [IdEndereco], [Nome], [HoraAbertura], [HoraFechamento]) VALUES (2, 2, N'Comidas Picantes', 2, N'Fiesta Mexicana', NULL, NULL)
INSERT [dbo].[Restaurantes] ([ID], [IdCategoria], [Descricao], [IdEndereco], [Nome], [HoraAbertura], [HoraFechamento]) VALUES (3, 5, N'Pizzas extremamente saborosas', 1, N'Moderno Italiano', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Restaurantes] OFF
GO
ALTER TABLE [dbo].[Cidades] ADD  CONSTRAINT [DF__Cidades__Nome__4E88ABD4]  DEFAULT (NULL) FOR [Nome]
GO
ALTER TABLE [dbo].[Avaliacoes]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[Avaliacoes] CHECK CONSTRAINT [FK_Scores_Pessoas]
GO
ALTER TABLE [dbo].[Avaliacoes]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Reservas] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reservas] ([ID])
GO
ALTER TABLE [dbo].[Avaliacoes] CHECK CONSTRAINT [FK_Scores_Reservas]
GO
ALTER TABLE [dbo].[Comidas]  WITH CHECK ADD  CONSTRAINT [FK_Comidas_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[Comidas] CHECK CONSTRAINT [FK_Comidas_CategoriasComida]
GO
ALTER TABLE [dbo].[Enderecos]  WITH CHECK ADD  CONSTRAINT [FK_Enderecos_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidades] ([ID])
GO
ALTER TABLE [dbo].[Enderecos] CHECK CONSTRAINT [FK_Enderecos_Cidade]
GO
ALTER TABLE [dbo].[IngredientesComida]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesComida_Comidas] FOREIGN KEY([IdComida])
REFERENCES [dbo].[Comidas] ([ID])
GO
ALTER TABLE [dbo].[IngredientesComida] CHECK CONSTRAINT [FK_IngredientesComida_Comidas]
GO
ALTER TABLE [dbo].[IngredientesComida]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesComida_Ingredientes] FOREIGN KEY([IdIngrediente])
REFERENCES [dbo].[Ingredientes] ([ID])
GO
ALTER TABLE [dbo].[IngredientesComida] CHECK CONSTRAINT [FK_IngredientesComida_Ingredientes]
GO
ALTER TABLE [dbo].[MenuRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MenuRestaurantes_Comidas] FOREIGN KEY([IdComida])
REFERENCES [dbo].[Comidas] ([ID])
GO
ALTER TABLE [dbo].[MenuRestaurantes] CHECK CONSTRAINT [FK_MenuRestaurantes_Comidas]
GO
ALTER TABLE [dbo].[MenuRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MenuRestaurantes_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[MenuRestaurantes] CHECK CONSTRAINT [FK_MenuRestaurantes_Restaurants]
GO
ALTER TABLE [dbo].[MesasRestaurante]  WITH CHECK ADD  CONSTRAINT [FK_RestaurantTables_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[MesasRestaurante] CHECK CONSTRAINT [FK_RestaurantTables_Restaurants]
GO
ALTER TABLE [dbo].[Pessoas]  WITH CHECK ADD  CONSTRAINT [FK_Pessoas_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([ID])
GO
ALTER TABLE [dbo].[Pessoas] CHECK CONSTRAINT [FK_Pessoas_Enderecos]
GO
ALTER TABLE [dbo].[PreferenciasPessoa]  WITH CHECK ADD  CONSTRAINT [FK_PreferenciasPessoa_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[PreferenciasPessoa] CHECK CONSTRAINT [FK_PreferenciasPessoa_CategoriasComida]
GO
ALTER TABLE [dbo].[PreferenciasPessoa]  WITH CHECK ADD  CONSTRAINT [FK_PreferenciasPessoa_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[PreferenciasPessoa] CHECK CONSTRAINT [FK_PreferenciasPessoa_Pessoas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Pessoas] FOREIGN KEY([IdPessoa])
REFERENCES [dbo].[Pessoas] ([ID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Pessoas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Restaurants] FOREIGN KEY([IdRestaurante])
REFERENCES [dbo].[Restaurantes] ([ID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Restaurants]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_CategoriasComida] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasComida] ([ID])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurants_CategoriasComida]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Enderecos] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Enderecos] ([ID])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurants_Enderecos]
GO
